gcp:
  default_region: "us-central1"
  default_zone: "us-central1-a"
  projects:
    dev:
      id: "kenect-service-dev"
      namespace: "development"
      region: "us-central1"
      zone: "us-central1-a"
      cluster: "dev-cluster"
      domain: "kenect-dev.com"
      kali_port: 20002
    stage:
      id: "kenect-service-stage"
      name: "stage"
      region: "us-central1"
      zone: "us-central1-b"
      cluster: "stage-cluster"
      domain: "kenect-test.com"
      kali_port: 20003
    prod:
      id: "kenect-service-prod"
      name: "production"
      namespace: "production"
      region: "us-east1"
      zone: "us-east1-b"
      cluster: "prod-cluster"
      domain: "kenect.com"
      kali_port: 20004
