gh:
  default_org: "kenect-ut"
  repositories:
    dev:
      name: "kenect-service-dev"
      branch: "develop"
      env: "development"
    stage:
      name: "kenect-service-stage"
      branch: "staging"
      env: "staging"
    prod:
      name: "kenect-service-prod"
      branch: "main"
      env: "production"
  workflows:
    ci:
      enabled: true
      file: ".github/workflows/ci.yml"
    cd:
      enabled: true
      file: ".github/workflows/cd.yml"
  settings:
    auto_merge: true
    require_reviews: 2
