aws:
  dev:
    db_host: "autolabs-test.cqnzl4sz53md.us-east-1.rds.amazonaws.com"
    db_name: "autolabs"
    db_user: "REPLACE_ME"
    db_port: "5433"
  stage:
    db_host: "stage-host.rds.amazonaws.com"
    db_name: "autolabs"
    db_user: "REPLACE_ME"
    db_port: "5434"
  prod:
    db_host: "autolabs.c66g9tiarmaf.us-east-1.rds.amazonaws.com"
    db_name: "autolabs" 
    db_user: "REPLACE_ME"
    db_port: "5435"